/* 
  *  Menu
 */
.menu {
    height:30px;
    line-height:16px;
    margin: 10px 2% 10px;
    font-weight: bolder;
    font-size: 12px;
    font-style: normal;
    font-family: verdana, arial;
    font-variant: normal;
    color: #191970;
    background-color: #b0c4de;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    width: 700px;
}
.mnu_entry{
    font-weight: bolder;
    font-size: 12px;
    margin: 0px 1em 0px 1em;
}

/* 
  *  Navigation list, aka menu
 */
.navlist {
    border-right: #87ceeb 2px solid;
    border-left: #87ceeb 2px solid;
    border-top: #87ceeb 2px solid;
    border-bottom: #87ceeb 2px solid;
    margin: 10px 2% 20px;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: normal;
    font-style: normal;
    font-size: 11px;
    font-family: Verdana, arial;
    font-variant: normal;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    text-transform: none;
    width: 700px;
}
.navlist ul{
    list-style-type: none;
    float: left;
    margin: 0;
}
.navlist ul li {
    display: inline;
    float: left;
}
.navlist ul li a {
    float: left;
    width: 173px;
    text-decoration: none;
    background-color: #cae1ff;
    border-right: #ffffff 1px solid;
    border-left: #ffffff 1px solid;
    border-top: #ffffff 1px solid;
    border-bottom: #ffffff 1px solid;
}
.navlist ul li a:hover
{
    background-color: #369;
    color: #fff;
}

/*
 *  Banner for class or function 
 */
.bnr_kind {
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
    width: 90px;
    background-color: #bcd2ee;
}
.bnr_name {
    font-weight: bold;
    font-style: roman;
    font-size: 14px;
    width: 570px;
    background-color: #bcd2ee;
}
.bnr_up {
    font-weight: bold;
    font-style: roman;
    font-size: 14px;
    text-align: centered;
    width: 25px;
    background-color: #cae1ff;
}
.bnr_up a
{
    text-decoration: none;
}
.bnr_up a:hover
{
    background-color: #369;
    color: #fff;
}

/*
   *    Class
  */
.classe {
    border-right: #87ceeb 1px solid;
    border-left: #87ceeb 1px solid;
    border-top: #87ceeb 1px solid;
    border-bottom: #87ceeb 1px solid;
    margin: 2px 2% 20px;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    font-family: Verdana, arial;
    font-variant: normal;
    text-align: left;
    vertical-align: top;
    text-decoration: none;
    text-transform: none;
    width: 700px;
}
.classe table{
    font-size: 12px;
    font-family: Verdana, arial;
    table-layout: fixed;
}
.cls_desc{
    font-weight: normal;
    font-style: normal;
    margin: 2px 5% 10px;
}

.method {
    border-right: #87ceeb 1px solid;
    border-left: #87ceeb 1px solid;
    border-top: #87ceeb 1px solid;
    border-bottom: #87ceeb 1px solid;
    margin: 2px 2% 10px;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: normal;
    font-style: normal;
}
.method table{
    font-size: 12px;
    font-family: Verdana, arial;
}

.command {
    border-right: #87ceeb 1px solid;
    border-left: #87ceeb 1px solid;
    border-top: #87ceeb 1px solid;
    border-bottom: #87ceeb 1px solid;
    margin: 2px 2% 20px;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    font-family: Verdana, arial;
    font-variant: normal;
    text-align: left;
    vertical-align: top;
    text-decoration: none;
    text-transform: none;
    width: 700px;
}
.command table{
    font-size: 12px;
    font-family: Verdana, arial;
    background-color: transparent;
}

.fnc_kind {
    font-weight: normal;
    font-style: italic;
    width: 80px;
}
.fnc_name {
    font-weight: bold;
    font-style: normal;
}
.fnc_type {
    font-weight: bold;
    font-style: italic;
}
.fnc_desc{
    font-weight: normal;
    font-style: normal;
    margin: 2px 5% 10px;
}
.fnc_args {
    font-weight: bold;
    font-style: normal;
}

.args {
    margin: 2px 5% 10px;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: normal;
    font-style: roman;
}
.args table{
}
.arg_type {
    font-weight: normal;
    font-style: italic;
    width: 65px;
}
.arg_name {
    font-weight: bold;
    font-style: roman;
    width: 80px;
}
.arg_desc {
    font-weight: normal;
    font-style: roman;
    width: 60%;
}
